*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  margin: 20px;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: rgb(182, 212, 13);
}
h1{

  text-align: center;
}


.addEmployee{
  margin: 20px;
  padding: 20px;
  /* margin-bottom: 50px; */
  /* display: flex; */
  background-color:rgb(182, 212, 13) ;
  /* justify-content: end; */
  
}
.addEmployee input{
  width: 150px;
  height: 30px;
border-radius: 10px;
background-color: rgb(182, 212, 13) ;
  margin-right: 30px;
}

.addEmployee .submitButton{
  display: block ;
  margin: 10px auto;
  width: 200px;
  /* width: 100%; */

  background-color: rgb(0, 255, 200);
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addEmployee button:hover{
  background-color:crimson;
  cursor: pointer;
}
/* .dropdown-toggle{
  height: 400px;
} */
.table{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.inputDiv{
  display: flex;
  justify-content: center;
}